* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #252525;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: gray 1px solid;
}
.le > img {
    max-width: 100px;
}
.link > a {
    text-decoration: none;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.ri {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    padding: 20px;
}
.link > a {
    transition: 100ms;
}
.link > a:hover {
    color: rgb(255, 110, 110);
    transition: 100ms;
}
.search > input {
    width: 100%;
    border-radius: 10px;
    border: hidden;
    background-color: white;
}
.link {
    margin-right: 10px;
}
.search {
    color: white;
}
.search {
    display: flex;
    width: 30%;
    height: 40px;
    background-color: red;
    border-radius: 10px;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    padding-top: 10px;
}
.adc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px red solid;
}
.adc2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adc > h1 {
    color: red;
    font-family: sans-serif;
}
.etc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}
.etc > h1 {
    color: red;
    font-family: sans-serif;
}
.fra {
    display: flex;
    background-image: url(bf1.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    margin: 10px;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra:hover {
    background-image: url(battlefield-bf1.gif);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra2 {
    margin: 10px;
    display: flex;
    background-image: url(download.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra2:hover {
    background-image: url(CczD.gif);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra3 {
    margin: 10px;
    display: flex;
    background-image: url(sda.jpg  );
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra3:hover {
    background-image: url(cow-barnyard.gif);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra4 {
    margin: 10px;
    display: flex;
    background-image: url(ghost.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra4:hover {
    background-image: url(fantama.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra5 {
    margin: 10px;
    display: flex;
    background-image: url(mongus.png);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra5:hover {
    background-image: url(mongusfg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra6 {
    margin: 10px;
    display: flex;
    background-image: url(mine.jpg);
    background-position-x: center;
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra6:hover {
    background-image: url(minegut.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra7 {
    margin: 10px;
    display: flex;
    background-image: url(fuguete.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra7:hover {
    background-image: url(carrokjij.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra7 {
    margin: 10px;
    display: flex;
    background-image: url(jw.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra7:hover {
    background-image: url(jwed.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra8 {
    margin: 10px;
    display: flex;
    background-image: url(matrix.JPG);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra8:hover {
    background-image: url(metrixd.jpeg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra9 {
    margin: 10px;
    display: flex;
    background-image: url(Carros_pôster.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra9:hover {
    background-image: url(gifs-do-filme-cars-da-disney-0.gif);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.fra10 {
    margin: 10px;
    display: flex;
    background-image: url(91cXSl1fqKL._AC_SY550_oys.jpg);
    width: 170px;
    height: 210px;
    border-radius: 7px;
    justify-content: center;
    align-items: end;
    transition: 100ms;
    background-size: cover;
    background-repeat: no-repeat;
}
.fra10:hover {
    background-image: url(macaca.jpeg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 100ms;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.lis {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.lis > a {
    text-decoration: none;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}
.lis > a:hover {
    color: rgb(255, 110, 110);
}
.lis > h3 {
    color: red;
    text-decoration: underline gray;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: red 2px solid;
}
@media(max-width:1000px){
     h1 {
        font-size: 22px;
    }
    .fra {
        width: 100px;
        height: 140px;
    }
    .fra2 {
        width: 100px;
        height: 140px;
    }
    .fra3 {
        width: 100px;
        height: 140px;
    }
    .fra4 {
        width: 100px;
        height: 140px;
    }
    .fra5 {
        width: 100px;
        height: 140px;
    }
    .fra6 {
        width: 100px;
        height: 140px;
    }
    .fra7 {
        width: 100px;
        height: 140px;
    }
    .fra8 {
        width: 100px;
        height: 140px;
    }
    .fra9 {
        width: 100px;
        height: 140px;
    }
    .fra10 {
        width: 100px;
        height: 140px;
    }
}
@media(max-width:520px){
    main {
        flex-direction: column;
    }
    .adc2 {
        flex-direction: row;
        flex-wrap: wrap;
        border-right: none;
        border-bottom: 1px solid red;
    }
    .adc {
        border: none;
    }
    .etc {
        width: 100%;
    }
    .link > a {
        margin-left: 0px;
        margin-right: 0px;
    }
    .ri {
        margin-right: 0px;
        padding-right: 0px;
    }
    .fra {
        width: 85px;
        height: 125px;
    }
    .fra2 {
        width: 85px;
        height: 125px;
    }
    .fra3 {
        width: 85px;
        height: 125px;
    }
    .fra4 {
        width: 85px;
        height: 125px;
    }
    .fra5 {
        width: 85px;
        height: 125px;
    }
    .fra6 {
        width: 85px;
        height: 125px;
    }
    .fra7 {
        width: 85px;
        height: 125px;
    }
    .fra8 {
        width: 85px;
        height: 125px;
    }
    .fra9 {
        width: 85px;
        height: 125px;
    }
    .fra10 {
        width: 85px;
        height: 125px;
    }
}