:root {
    --preto: #252525;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--preto);
    flex-direction: column
}
.ri > img {
    width: 150px;
}
.cab {
    display: flex;
}
.ri {
    display: flex;
}
header {
    display: flex;
}
.log {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 420px;
    margin-top: 10px;
    border-radius: 50px;
    align-items: center;
    box-shadow: -4px 4px red;
    padding-bottom: 60px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.log > h1 {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    text-shadow: 1px 1px red;
}
.write {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.write > input {
    border: hidden;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #1111114f;
    color: white;
    margin-left: 5px;
    margin-right: 5px
}
.write > a {
    text-decoration: none;
    color: rgb(85, 85, 255);
}
.write > h2 {
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 37.81%, rgba(255, 255, 255, 0.751) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.but {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.esq > a {
    border: 1px red solid;
    text-decoration: none;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    transition: 100ms;
    margin-left: 10px;
}

.esq > a:hover {
    background-color: rgba(0, 0, 0, 0.79);
    font-size: 25px;
    transition: 100ms;
}
.dir > a {
    border: 1px red solid;
    text-decoration: none;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    transition: 100ms;
    margin-right: 10px;
}

.dir > a:hover {
    background-color: rgba(0, 0, 0, 0.79);
    font-size: 25px;
    transition: 100ms;
}
.dir {
    margin-right: 20px;
}
.esq {
    margin-left: 20px;
}
.lis {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.lis > a {
    text-decoration: none;
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}
.lis > a:hover {
    color: rgb(255, 110, 110);
}
.lis > h3 {
    color: red;
    text-decoration: underline gray;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:430px){
    .log {
        max-width: 420px;
        max-height: 500px;
    }
    header {
        align-items: center;
    }
}
